@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-base-100: 255 255 255;
  --color-base-200: 242 242 242;
  --color-base-content: 17 21 23;

  --color-neutral-content: 196 196 196;
}

:root[class~="dark"] {
  --color-base-100: 43 56 68;
  --color-base-200: 32 44 55;
  --color-base-content: 255 255 255;

  --color-neutral-content: 255 255 255;
}
@layer components {
  .px-small {
    @apply max-xl:px-[16px];
  }
  .px-normal {
    @apply max-lg:px-[28px] lg:px-[10px] xl:px-0;
  }

  .container-wide {
    @apply w-full max-w-[1280px] mx-auto;
  }
}
@layer utilities {
  .flex-col-center {
    @apply flex flex-col items-center;
  }
  .transition-universal {
    @apply transition-all duration-300;
  }

  .test-border {
    @apply border-[1px] border-red-500;
  }
}
.backdrop-shadow {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0.33%,
    rgba(0, 0, 0, 0.6) 99.79%
  );
}
.card-shadow {
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.03);
}
.nav-shadow {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.06);
}
.input-shadow {
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
}

.buttoncountry-shadow {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.countries-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  justify-content: center;
}

/*spiner-css*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--color-base-content);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
